
        body {
            width: 1500px;
            height: 2200px;
            position: relative;
        }

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .header {
            width: 1500px;
            height: 70px;
            position: sticky;
            top: 0px;
            left: 10px;
            background-color: black;
            margin-left: 10px;
            z-index: 10;
        }

        .header img {
            width: 40px;
            border-radius: 10px;
            position: relative;
            top: 20px;
            left: 30px;
        }

        .header span {
            color: white;
            position: relative;
            top: -20px;
            left: 80px;
        }

        .header :nth-child(3) {
            color: white;
            position: relative;
            top: -20px;
            right: -500px;
            margin-right: 20px;
        }
        .header a:hover{
            color: red;
        }
        .header :nth-child(4) {
            color: white;
            position: relative;
            top: -20px;
            right: -500px;
            margin-right: 20px;
        }

        .header :nth-child(5) {
            color: white;
            position: relative;
            top: -20px;
            right: -500px;
        }

        .header :nth-child(6) {
            color: white;
            position: relative;
            top: -20px;
            right: -1100px;
        }

        .header :nth-child(7) {
            color: white;
            position: relative;
            top: -20px;
            left: 1100px;
        }

        .header :nth-child(8) {
            color: white;
            position: relative;
            top: -20px;
            left: 1100px;
        }
        .div1{
            width: 1500px;
            height: auto;
            position: absolute;
            top: 0;
            left: 10px;
        }
        .div2{
            width: 1500px;
            height: auto;
            position: absolute;
            top: 500px;
            left: 10px;
        }
        .box{
            width: 700px;
            height: 400px;
            border: 1px solid black;
            border-radius: 5%;
            position: absolute;
            top: 1700px;
            left: 410px;
            overflow: hidden;
        }
        .demo1{
            width: 1400px;
            height: 400px;
            overflow: hidden;
            position: relative;
            top: 0px;
            left: 0px;
            transform: translate(0px);
            animation: move 10s infinite linear;
        }
        .demo1 img{
            float: left;
        }
        @keyframes move {
            0%{
                transform: translate(0px);
            }
            20%{
                transform: translate(0px);
            }
            40%{
                transform: translate(-700px);
            }
            60%{
                transform: translate(-700px);
            }
            80%{
                transform: translate(0px);
            }
            100%{
                transform: translate(0px);
            }
        }
        hr{
            width: 1500px;
            color: black;
            position: absolute;
            top: 2150px;
            left: 10px;
        }
        .div6{
            position: absolute;
            top: 2200px;
            left: 10px;
        }
        .div6 img{
            border-radius: 5px;
            position: relative;
            left: 30px;
            top: 30px;
        }
        .div6 span{
            line-height: 30px;
            position: relative;
            left: 100px;
            top: -50px;
            color: black;
        }
        .div7{
            width: 200px;
            height: auto;
            position: absolute;
            top: 2200px;
            left: 1300px;
        }
        .div7 img{
            position: relative;
            top: 40px;
        }
        .div7 span{
            color: black;
            position: relative;
            left: -180px;
            top: 32px;
        }
        